{% extends "layout.html" %}
{% block title %}我有东西要出售{% endblock %}
{% block content %}
<div>
<form class="form-horizontal" action="{{ url_for('item_sale.add_item') }}" method="POST">
    <fieldset>
      <div id="legend" class="">
        <legend class="">出售</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">商品名称</label>
          <div class="controls">
            <input type="text" name="name" placeholder="商品名称" class="input-xlarge">
            <span class="must">*</span>
            <p class="help-block">请不要超过 100 个字</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Appended input-->
          <label class="control-label">商品原价</label>
          <div class="controls">
            <div class="input-append">
              <input class="input-xlarge" name="original_price" placeholder="商品原价" type="text">
              <span class="add-on">元</span>
            </div>
            <p class="help-block">如果为空则现价作为原价</p>
          </div>

        </div><div class="control-group">

          <!-- Appended input-->
          <label class="control-label">商品现价</label>
          <div class="controls">
            <div class="input-append">
              <input class="input-xlarge" name="price" placeholder="商品现价" type="text">
              <span class="add-on">元</span>
            </div>
               <span class="must">*</span>
            <p class="help-block">商品出售价格</p>
          </div>

        </div><div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">商品类型</label>
          <div class="controls">
            <select class="input-xlarge" name="kind">
            {% for kind in kinds.kinds %}
                <option value="{{ kind.id }}">{{ kind.name }}</option>
            {% endfor %}
            </select>
               <span class="must">*</span>
          </div>

        </div>

    

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">商品成色</label>
          <div class="controls">
            <div class="input-append">
            <select class="input-xlarge" name="level">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
        <option value="6">7</option>
        <option value="7">8</option>
        <option value="8">9</option>
        <option value="9">10</option>
      </select>
              <span class="add-on">成新</span>
            </div>
               <span class="must">*</span>
            <p class="help-block">10 成新表示全新</p>
          </div>

        </div>
    <div class="control-group">

          <!-- Appended input-->
          <label class="control-label">有效期</label>
          <div class="controls">
            <div class="input-append">
              <input class="input-xlarge" name="valid_date" value="150" placeholder="有效期" type="text">
              <span class="add-on">天</span>
            </div>
               <span class="must">*</span>
            <p class="help-block">商品上架直到有效期后下架，最大为 150 天</p>
          </div>

        </div>

    <div class="control-group">
        <label class="control-label">商品图片</label>
          <div class="controls">
    <div id="publish-list">
        <ul class="postimg inline"></ul>
        <input type="hidden" id="postimg-ipt" name="img" value=""/>
        <script type="text/javascript">
            QINIU = {name: "hadfish", token: "{{ token }}", uid: {{ g.user.id }}, count: 0};
            SETTINGS = {file_upload_limit: "6"};
        </script>
    </div>
    <span id="buttonUpload"></span>
            <p class="help-block" id="errorMsg">最多可上传 6 张图片</p>
    </div>
    </div>
    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">商品描述</label>
          <div class="controls">
            <div class="textarea">
                  <textarea name="description" class="input-xlarge" rows="5"></textarea>
            </div>
            <p class="help-block">请简要描述，不超过 200 个字</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Button -->
          <div class="controls">
            <button type="submit" class="btn btn-primary">添加</button>
          </div>
        </div>
    </fieldset>
</form>
</div>

{% endblock %}

{% block solescript %}
<script type="text/javascript" src="{{ url_for('.static', filename='js/swfupload/swfupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/swfupload/uploadfile.js') }}"></script>

<script type="text/javascript">
    window.onload = swfuInit;
</script>

{% endblock %}
