{% extends "layout.html" %}
{% block title %}正在销售的商品{% endblock %}

{% block search %}
<div id="navigate">
    <div id="search">
    	<!--form name="sousuo" method="post" action="market.asp">
    	  <input type="text" value="请输入商品名称或相关" name="keyword" class="sousuo" onfocus="if(value=='请输入商品名称或相关'){value=''}" onblur="if(value==''){value='请输入商品名称或相关'}"/>
    	  <a href="javascript:document.sousuo.submit();">搜索</a>
    	</form-->
    </div>
    <div id="menu">
        <ul>
        	<li class="inline"><h1>分类:</h1></li>
            {% if not kind_id %}
            <li class="inline"><a href="javascript:void(0);"class="select" >全部</a></li>
            {% else %}
            <li class="inline"><a href="{{ url_for('item_sale.show_item', page=1) }}" >全部</a></li>
            {% endif %}
            {% for kind in kinds.kinds %}
                {% if kind_id and kind.id == kind_id %}
                <li class="inline"><a href="javascript:void(0);" class="select" >{{ kind.name }}</a></li>
                {% else %}
                <li class="inline"><a href="{{ url_for('item_sale.show_item', page=1, kind_id=kind.id) }}" >{{ kind.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <!--ul>
        	<li class="inline"><h1>排序:</h1></li>
            <li class="inline"><a id="mynav1" href="market.asp?kind=all&price=no" class="select">默认</a></li>
            <li class="inline"><a id="mynav2" href="market.asp?kind=all&price=asc">价格 ↑</a></li>
            <li class="inline"><a id="mynav3" href="market.asp?kind=all&price=desc">价格 ↓</a></li>
            <li class="inline"></li>
        </ul-->
    </div>
</div>


{% endblock %}

{% block content %}
	<div id="left-content">
		
        {% for item in items.sales %}
    <div class="fish inline">
        <div id="fishpic"><a href="{{ url_for('item_sale.show_item_by_id', item_id=item.item.id) }}" title="点击查看详情"><img src="http://hadfish.qiniudn.com/{{ item.item.images[0] }}_281.190test" width="281" height="190" alt="" data-pinit="registered"></a></div>
        <div id="fishname"><a href=""{{ url_for('item_sale.show_item_by_id', item_id=item.item.id) }}>{{ item.item.name }}</a></div>
        <div id="fishprice"><a href=""{{ url_for('item_sale.show_item_by_id', item_id=item.item.id) }}>去看看</a><span><b>￥</b>1111</span></div>
    </div>
    {% endfor %}
    
    
			<div class="clear"></div>
			<div class="yema">

                {% if items.page == 1 %}
			  <a href="javascript:void(0);" class="nextpage">第一页</a>
              {% else %}
			  <a href="{{ url_for('item_sale.show_item', page=1, kind_id=kind_id) }}" class="nextpage">第一页</a>
              {% endif %}
              {% if items.has_prev %}
			  <a href="{{ url_for('item_sale.show_item', page=items.prev_num, kind_id=kind_id) }}" class="yema_nocheck"><</a>
              {% else %}
                <span class="yema_check"><</span>
              {% endif %}

              {% if items.pages < 7 or items.page < 7 %}
                {% if items.pages > 7 %}
                    {% set end_page = 8 %}
                {% else %}
                    {% set end_page = items.pages + 1%}
                {% endif %}
                {% for i in range(1, end_page) %}
                    {% if items.page == i %}
                        <span class="yema_check">{{ i }}</span>
                    {% else %}
                        <a href="{{ url_for('item_sale.show_item', page=i, kind_id=kind_id) }}" class="yema_nocheck">{{ i }}</a>
                    {% endif %}
                {% endfor %}

            {% else %}
                {% set start_page = items.page - items.page%6 %}

                {% if items.pages < start_page + 6 %}
                    {% set end_page = items.pages + 1 %}
                {% else %}
                    {% set end_page = start_page + 6 + 1 %}
                {% endif %}
                <a href="{{ url_for('item_sale.show_item', page=start_page-1, kind_id=kind_id) }}" class="nextpage">{{ start_page-1 }}</a>
                {% for i in range(start_page, end_page) %}
                    {% if items.page == i %}
                        <span class="yema_check">{{ i }}</span>
                    {% else %}
                        <a href="{{ url_for('item_sale.show_item', page=i, kind_id=kind_id) }}" class="yema_nocheck">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
                
                {% if items.has_next %}
                <a href="{{ url_for('item_sale.show_item', page=items.next_num, kind_id=kind_id) }}" class="yema_nocheck">></a>
                {% else %}
                <span class="yema_check">></span>
                {% endif %}
                {% if items.pages == items.page %}
			  <a href="javascript:void(0);" class="nextpage">最后一页</a>
                {% else %}
			  <a href="{{ url_for('item_sale.show_item', page=items.pages, kind_id=kind_id) }}" class="nextpage">最后一页</a>
                {% endif %}


			</div>
            
	</div>
    
    {% block sider %}
    {{ super() }}
    {% endblock %}
{% endblock %}

{% block solescript %}
{% endblock %}
