{% extends "layout.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<div id="reg">
<!--注册左边-->
<div id="left-reg">
</div>
<!--注册左边结束-->

<!--注册主体-->
<div id="right-reg">
    <form id="regform" action="{{ url_for('account.register') }}" method="post" name="reg">
	<div id="reg-box">
    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>用户名</span></div>
            <div class="regbox-list-text"><input class="reginput" type="text" name="username"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>您在有鱼网的用户名</span></div>
        </div>

    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>密码</span></div>
            <div class="regbox-list-text"><input class="reginput" type="password" name="password"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>您的密码</span></div>
        </div>

    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>重复密码</span></div>
            <div class="regbox-list-text"><input class="reginput" type="password" name="password2"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>请重复输入一遍密码确保输入正确</span></div>
        </div>

    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>邮箱</span></div>
            <div class="regbox-list-text"><input class="reginput" type="text" name="email"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>您的邮箱，用于接收信息</span></div>
        </div>

    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>手机号码</span></div>
            <div class="regbox-list-text"><input class="reginput" type="text" name="tel"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>选填</span></div>
        </div>

    	<div class="regbox-list">
        	<div class="regbox-list-bt"><span>QQ</span></div>
            <div class="regbox-list-text"><input class="reginput" type="text" name="QQ"/></div>
            <div class="regbox-list-alert">
                <!-- 
                <span class="alert-wrong" id="regname-no"></span>
                -->
                <span class="alert-right"></span>
            </div>
            <div class="regbox-list-tip"><span>选填</span></div>
        </div>
        <div class="regbox-list xieyi">
            <input name="xieyi" type="checkbox" value="1" checked />&nbsp;&nbsp;我已阅读并接受<a href="{{ url_for('page.page_ui', slug='agreement') }}">有鱼用户协议</a>
        </div>
        <div class="regbox-list areg">
            <a href="javascript:document.reg.submit();" class="login-button" id="regbutton">注册</a>
        </div>
    </div>
    </form>
</div>
</div>

{% endblock %}

{% block solescript %}
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
{% endblock %}
