{% extends "layout.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<form action="{{ url_for('register') }}" method="POST">
    <label>用户名</label>
    <input type="text" name="username"/>*
    </br>
    <label>密码</label>
    <input type="password" name="password"/>*
    </br>
    <label>重复密码</label>*
    <input type="password" name="password2"/>*
    </br>
    <label>邮箱</label>
    <input type="text" name="email"/>*
    </br>
    <label>tel</label>
    <input type="text" name="tel"/>
    </br>
    <label>QQ</label>
    <input type="text" name="QQ"/>
    </br>
    <label>地址</label>
    <input type="text" name="address"/>
    </br>
    <button type="submit">注册</button>
</form>
{% endblock %}
