{% extends "layout.html" %}
{% block title %}设置{% endblock %}
{% block content %}
<form action="{{ url_for('account.setting') }}" method="POST">
    <label>用户名</label>
    <input type="text" name="username" value="{{ user.name }}" />
</br>
    <label>邮箱</label>
    <input type="text" name="email" value="{{ user.email }}" />
    {% if not g.user.is_validate %}
    <a class="email-valid" href="javascript:void(0);">验证邮箱</a>
    {% endif %}
</br>
    <label>QQ</label>
    <input type="text" name="QQ" value="{{ user.qq }}" />
</br>
    <label>电话</label>
    <input type="text" name="tel" value="{{ user.tel }}" />
</br>
    <label>学校</label>
    <input type="text" name="school" value="{{ user.school }}" />
</br>
    <label>地址</label>
    <input type="text" name="address" value="{{ user.address }}" />
</br>
    <label>个人简介</label>
    <input type="text" name="profile" value="{{ user.profile }}" />
</br>
<button type="submit">保存</button>

</form>

<form id="email-valid" action="{{ url_for('email_valid') }}" method="POST">

</form>
{% endblock %}
{% block solescript %}
<script type="text/javascript">
    $("a.email-valid").click(function(){
        $("#email-valid").submit();
    });
</script>
{% endblock %}
