<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - 有鱼网</title>
    {% block solehead %}{% endblock %}
</head>
<body>
    {% if g.user %}
    <a href="{{ url_for('account.logout') }}">登出</a>
    {% else %}
    <a href="{{ url_for('account.register') }}">注册</a>
    <a href="{{ url_for('account.login') }}">登录</a>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li>{{ category }}, {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
<script type="text/javascript" src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.9.1.min.js"></script>
{% block solescript %}{% endblock %}
</html>
