{% extends "layout.html" %}
{% block title %}修改-{{ item.item.name }}{% endblock %}

{% block content %}
<div id="left-content">
    	<div class="saleedit">
            <h1>需求信息</h1>
            <form name="demandform" action="{{ url_for('item_demand.modify_item', item_id=item.item.id) }}" method="post">
            <div class="saleedit-simple">
            	<ul>
                    <li class="salename"><label>需求名称：</label><input type="text" value="{{ item.item.name }}" maxlength="80" name="name"/><em class="saletishi">（*不得超过80字）</em></li>
                    <li class="saleprice">
                    <label>价格：</label><input type="text" maxlength="7" name="price" value="{{ item.item.price }}"/><em>元</em><em class="saletishi">(*愿意付出的价格)</em></li>
                    <li class="saleprice">
                    <label>有效期：</label><input type="text" maxlength="3" value={{ item.item.valid_date }} name="valid_date" /><em>天</em><em class="saletishi">(此商品在有效期内有效)</em></li>
                    <li><label>类型：</label><select name="kind" >
            {% for kind in kinds.kinds %}
                <option value="{{ kind.id }}" {% if kind.id == item.item.kind_id %}selected{% endif %}>{{ kind.name }}</option>
            {% endfor %}
                    </select>
                    <em class="saletishi">（*请选择商品所属种类）</em></li>
            	</ul>
                <div class="salexiangxi">
                    <div class="sale-label">
                        <label>需求描述：</label>
                    </div>
                    <div class="sale-description">
                        <textarea name="description" rows="8" cols="60">{{ item.item.description }}</textarea>
                    </div>
                </div>
            </div>
            </form>
            <div class="sale-submit">
            <a class="btn" href="javascript:document.demandform.submit();">修改</a>
            <a href="{{ url_for('show_item_by_id', item_id=item.item.id) }}" class="btn">返回</a>
        </div>
        </div>    
    </div>



{% block sider %}
{{ super() }}
{% endblock %}
{% endblock %}

{% block solescript %}
{% endblock %}
