/* css.css hack */

#navigate {
    padding-top: 10px;
    height: 50px;
    padding-bottom: 10px;
}

.simple-original_price b {
color: #949494;
margin-left: 3px;
}

.slide-wp {
    width: 320px;
    height: 240px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 5px;
}

.slide-wp ul li {
    display: none;
}
.nav-wp {
    position: absolute;
    top: 260px;
    left: 10px;
    width: 320px;
    height: 50px;
    overflow: hidden;
}

.nav li {
    float: left;
    margin-right: 10px;
    color: #22739e;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 1px #D4D4D4 solid;
}

.nav li img {
    width: 42px;
    height: 42px;
}

.nav li.cur{
	color: #ff7a00;
	border:1px #C00 solid;
	box-shadow:2px 2px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.weixin {
    width: 200px;
    height: 200px;
}

.weixin img {
    width: 170px;
    height: 170px;
}

.weixin span {
}

.weixin-hadfish {
    color: red;
}

.followus {
    border-bottom:1px dashed #3FA7CB;
	padding-bottom:15px;
}

.followus span {
    display:block;
	height:50px;
	width:170px;
	/*background:#3FA7CB;*/
	border-radius:4px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	/*color:#fff;*/
	text-align:center;
	line-height:50px;
	font-size:30px;
	margin-top:15px;
}

span.error {
    background:url(/static/img/alert-wrong.gif);
	background-repeat:no-repeat;
	
    padding-left:20px;
	background-color: transparent;
	height:17px;
	
    display:none;
	
    line-height: 17px;
	
    margin:8px 0 0 10px;
    width: 20px;
}

.regbox-list-alert{
    display:block;
}

input.demand {
    margin-left: 5px;
    width: 50px;
}

a.btn {
    padding: 5px 10px 5px 10px;
	border-radius:4px;
	background:#3FA7CB;
	color:#fff;
	font-size:24px;
	text-align:center;
	line-height:60px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

a.btn-index {
    padding: 5px 10px 5px 10px;
	border-radius:4px;
	color:#fff;
	font-size:24px;
	text-align:center;
	line-height:60px;
}

a.btn-index:hover {
    padding: 5px 10px 5px 10px;
	border-radius:4px;
	background:#3FA7CB;
	color:#fff;
	font-size:24px;
	text-align:center;
	line-height:60px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.sale-submit {
	text-align:right;
	margin-right: 60px;
}

.sale-label {
    padding-top: 5px;
    border-top:2px #D4D4D4 dashed;
}
.salexiangxi div label{
    margin-left: 20px;
    margin-bottom: 20px;
}

.sale-description {
    margin-top: 10px;
    margin-left: 20px;
}

.sale-description textarea {
    border: 1px solid #CCC;
    width: 650px;
    box-shadow: 1px 2px 3px #F0F0F0 inset;
    -moz-box-shadow: 1px 2px 3px #F0F0F0 inset;
    -webkit-box-shadow: 1px 2px 3px #F0F0F0 inset;
    background-color: white;
    vertical-align: middle;
    font-size: 12px;
}

.saleimg {
    border: 1px #D4D4D4 solid;
    height: 50px;
}

/* 商品上传 */
.uploadfish-list{
	padding: 10px;
	border-bottom: 1px dotted #d1cdcd;
}
.uploadfish-listname,
.uploadfish-listinput,
.uploadfish-listtip{
	display: block;
	float: left;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
}
.uploadfish-list input[type=text]{
	margin-top: 1px;
}
.uploadfish-fishname input{ width: 350px; }
.uploadfish-fishprice input{
	width: 100px;
}
.uploadfish-fisholdprice input{
	width: 100px;
}
.uploadfish-fishdetail{
	height: 310px;
}
.uploadfish-listtip{
	margin-left: 20px;
	color: #ff0000;
}

#wait-uploadimg{
	clear: both;
	margin: 15px;
}
#wait-uploadimg span{
	display: block;
	position: relative;
	float: left;
	width: 90px;
	height: 90px;
	border: 3px dashed #ccc;
	margin: 0 10px 0 0;
}
.wait-uploadimg-img{
	display: block;
	width: 90px;
	height: 90px;
	overflow: hidden;
}

.delimg {
    position: absolute;
    top: 15%;
    left: 116%;
    margin: -13px 0 0 -35px;
    width: 20px;
    height: 20x;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: 0.7;
}

.imgprocess {
position: absolute;
top: 55%;
left: 70%;
margin: -13px 0 0 -35px;
/*
width: 20px;
height: 20x;
line-height: 20px;
text-align: center;
color: #fff;
background: #000;
border-radius: 3px;
opacity: 0.7;
*/
}

.item-mod {
    float: right;
    margin-right: 5px;
}

a.item-mod {
    /*padding: 5px 10px 5px 10px;*/
    padding: 0 5px 0 5px;
	border-radius:4px;
	background:#3FA7CB;
	color:#fff;
	/*font-size:24px;*/
	/*text-align:center;*/
	/*line-height:60px;*/
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.demand-box {
    background:#FFF;
	margin-bottom:10px;
	border-top:1px #D4D4D4 solid;
	border-left:1px #D4D4D4 solid;
	border-right:1px #D4D4D4 solid;
	border-bottom:2px #D4D4D4 solid;
}

.demand-box ul{
	margin-left:15px;
	margin-top:10px;
	margin-bottom:5px;
}

#demand-list{
	width: 700px;
	margin: 0 auto;
}
#demand-list ul{
	overflow-x:hidden;
	overflow-y:auto;
	display: block;
	width:670px;
	scrollbar-face-color:#3FA7CB;
	scrollbar-highlight-color:#e3eef8;
	scrollbar-3dlight-color:transparent;
	scrollbar-darkshadow-color:#fff;
	scrollbar-shadow-color:transparent;
	scrollbar-arrow-color:transparent;
	scrollbar-track-color:#ddd;
}
#demand-list ul li{
	width: 650px;
	border-bottom:1px dashed #ddd;
	padding: 5px 0 5px 0;
}
#demand-list ul li:hover{
	background:#e3eff2;
}
#demand-list span{
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
#demand-list .qiugouno{
	margin: 10px 10px;
	width: 680px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	background:#e3eef8;
	border:1px solid #B8D4E8;
	text-align: center;
}
#demand-list h2{
	background:#e3eef8;
	border:1px solid #B8D4E8;
	font-weight:normal;
	height:25px;
	line-height:25px;
	text-align:center;
	margin:10px 15px;
}
#demand-list h2 b{
	color: #0164AB;
	margin: 0 5px;
}
#demand-list .qiugounr{
	width: 500px;
	font-size: 14px;
	color: #595959;
}
#demand-list .qiugouzt{
	float: right;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	border-radius: 15px;
	border: 1px solid #ddd;
}
#demand-list .qiugouzt a{
	font-weight: normal;
}
#demand-list .qiugoufl{
	width:120px;
	margin-top: 15px;
	color: #B8B7B7;
}
#demand-list .qiugousj{
	width: 200px;
	color: #B8B7B7;
	margin-top: 15px;
}

/*
#index-head {
    margin-top:34px;
}
*/

.alert-box {
	width:960px;
	/* height:150px; */
	background:#F00;
	border: 1px #D4D4D4 solid;
	background-color: #F8F8F8;
	zoom: 1;
	margin: 0 auto 0 auto;
	text-align: center;
	padding: 10px 0 10px 0;
}

.alert-close {
    position: relative;

    left: 98%;
    /* bottom: 50%; */
    /* top: -5%; */
    margin-top: -5px;
    border-radius: 1%;
    border: 1px black solid;
    /* padding: 0; */
    width: 13px;
    height: 13px;
}

.alert-error {

}

.index-btn {
    text-align: center;
}

#index-nologin {
    text-align: center;
}

#username {
    text-align: center;
}

#usersale {
    text-align: center;
}

#userwant {
    text-align: center;
}

.sider-btn {
    text-align: center;
}

a.btn-buy {
font-size: 14px;
border-radius: 15px;
line-height: 40px;
background: #3F4ACB;
}

.email-validate {
    background-color: #FFF;
    background-image: url(/static/img/xieyi_bg.png);
    background-repeat: repeat-x;
    width: 880px !important;
    padding: 0 40px 20px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2),-2px -2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2),-2px -2px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2),-2px -2px 5px rgba(0,0,0,0.2);
}


a#group-add:hover {
    color: red;

}
