body {
    padding-top:130px;
    padding-botton: 20px;
    background-color:#ebeff1;
    background-image:url(/static/img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top center;
    _background-attachment: fixed;
}

.left-head-box {
    border: 1px #D4D4D4 solid;
    height: 50px;
	background:#fff;
	margin-bottom: 20px;
}

.user-setting {
	margin-top: 20px;
    border: 1px #D4D4D4 solid;
	background:#fff;
}

.user-setting-head {
    border-bottom: 1px #D4D4D4 solid;
    //height: 40px;
    /*margin-bottom: 10px; */
}

span.must {
    color: red;
    margin-left: 2px;
}

div#avatar {
    margin-left: 20px;
}

.sale-add-box {
	margin-top: 20px;
	padding-bottom: 20px;
    border: 1px #D4D4D4 solid;
	background:#fff;
}

.sale-show-box {
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border: 1px #D4D4D4 solid;
    background:#fff;
}

.sale-show-items-box {
    margin-left: 30px;
}

.sale-show-item-box {
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px red solid;
}

.box-head {
    border-bottom: 1px #D4D4D4 solid;
    padding-top: 5px;
    padding-bottom: 30px;
}

.box-head>div.box-head-text {
    float: left;
    margin-left: 10px;
}

.box-head>div.modify {
    float: right;
    margin-right: 5px;
}
/* upload image */
.postimg-item-del {
}

.postimg-item {
}

/* sider */
.sider {
	margin-top: 20px;
	padding-bottom: 10px;
    border: 1px #D4D4D4 solid;
	background:#fff;
	/*width: 200px;*/
}

.sider>div.userinfo {
    border-bottom: 1px #D4D4D4 solid;
}

.sider>div.avatar {
    margin-top: 10px;
}

.sider>div.username {
    margin-top: 10px;
}

.sider>div.sider-sale {
    margin-top: 10px;
}

.sider>div.sider-sale {
    margin-top: 10px;
}

.sider>div.sider-sale {
    margin-top: 10px;
}

/* footer */
.footer {
    /*position:absolute; */
    /*bottom: 0;  */
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	background-image:url(/static/img/bg_footer.png);
	background-repeat:repeat;
    width:100%;
    color:#fff;
}

.footer1 {
}
.footer1 a {
    color:#fff;
}

/* img-player */
.img-player {
    margin-left: 5px;
    margin-top: 5px;
}

.img-display {
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    min-width: 400px;
    min-height: 300px;
    /*border: 1px black solid; */
    padding: auto;
    overflow: hidden;
}

.img-display { 
}

.img-thumbnail {
    margin-left: 20px;
    margin-top: 5px;
    list-style-type: none;
}

.img-thumbnail-current {
    border: 1px black solid;
}

.img-thumbnail li {
    margin-right: 10px;
    float: left;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    /*border: 1px black solid; */
}

.item-sale-info {
    margin-left: -50px;
}

.item-sale-description {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 21px;
}

.item-sale-description-title {
    border-bottom: 1px #D4D4D4 solid;
    border-top: 1px #D4D4D4 solid;
}

.item-saler-info {
    background: #f7f9fb;
	border: 1px solid #B8D4E8;
	margin: 5px;
	padding: 10px;
}

.item-saler-info div {
    height: 22px;
	line-height: 22px;
}
