<div class="text-center">
        <div>
            <a href="/help.html">帮助中心</a>
            |
            <a href="/help.html#protocol">用户协议</a>
            |
            <a href="/help.html#about">关于我们</a>
            |
            <a href="/help.html#contact">联系我们</a>
        </div>
        <div class="footer2">
            Copyright © 2011-2013 hadfish.com 沪ICP备11005549号-3
        </div>
        <div class="footer3">
            [请使用 IE8 以上浏览器浏览，推荐 Chrome、Firefox 等浏览器，体验最佳浏览效果]
        </div>
</div>
